@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

.slick-track {
    margin-left: 0px !important;
}

.bg-home {
    background-image: url(../images//bgHome.png);
}

.bg-storm {
    background-image: url(../images/bg-storm.png);
}

.bg-jeep {
    border-radius: 16px;
    width: 194px;
    background: #161A42;
}

.bg-collections {
    background: #161A42;
    border-radius: 16px;
    height: 271px;
}

.bg-collection {
    background-position: center center;
}

@media (max-width : 1024px) {
    .bg-home {
        height: 343px;
    }

    .bg-collection {
        /* background-position: left; */
        width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
    } 

    .product-img {
        width: 431px
    }
}

.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.549);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2;
    left: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: rgb(13, 15, 35);
}

#__next {
    display: flex;
    min-height: 100%;
    width: 100%;
    justify-content: center;
}

.ld {
    transform-origin: 50% 50%;
    transform-box: fill-box;
    display: inline-block;
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin: -0.5em;
    z-index: 1;
    transition: all .3s;
    transition-timing-function: ease-in;
    animation: ld-spin 1s infinite linear;
}

.ld-ring:after {
    content: " ";
    display: block;
    width: 2em;
    height: 2em;
    box-sizing: border-box;
    transform-origin: 0 0;
    transform: translateZ(0) scale(0.5);
    backface-visibility: hidden;
    border-radius: 50%;
    border: 0.3em solid currentColor;
    border-left-color: transparent;
}

@keyframes ld-spin {
    0% {
        animation-timing-function: cubic-bezier(0.5856, 0.0703, 0.4143, 0.9297);
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.loading-bar {
    position: relative;
}

.loading-bar::before {
    content: "";
    position: absolute;
    left: calc(50% - 45px);
    top: calc(50% - 45px);
    width: 90px;
    height: 90px;
    background-image: url('/LOADING_LOOP.gif');
    background-size: contain;
    /* border: 3px solid #000; */
    border-radius: 50%;
    z-index: 10;
    /* border-right: 0; */
    transition: all .3s;
}

.category {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #161A42 0% 0% no-repeat padding-box;
    border: 2px solid #2E357B;
    position: absolute;
    right: -3px;
    bottom: -15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.category .music {
    width: 18px !important;
}

.category .movies {
    width: 14px !important;
}

.category .games {
    width: 20px !important;
}

.category .sports {
    width: 19px !important;
}

.category .comics {
    width: 19px !important;
}

.category .art {
    width: 22px !important;
}

.copyright {
    font-size: 10px;
}

.control-group {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 2;
    opacity: 0.4;
    border-radius: 8px;
    background: rgb(200, 200, 200);
    padding: 5px 20px;
}

.control__control-group {
    height: 25px;
    width: 25px;
    margin-left: 20px;
    cursor: pointer;
}

.control__control-group>img {
    height: 100%;
    width: 100%;
}

.control__control-group>img.reset {
    height: 70%;
    width: 70%;
}

.p-2-5 {
    padding: 10px;
}

.line-height-24 {
    line-height: 24px !important;
}

.text-capitalize {
    text-transform: capitalize;
}

.line-clamp-2 {
    text-overflow: ellipsis;
    display: block;
}
.bg-dark-blue {
    background: #161A42
}
@media screen and (max-width: 768px) {
    .bg-top {
        height: 331px;
        width: calc(100% - 30px);
    }

    .product-parent {
        width: 100% !important;
    }

    .bg-jeep {
        width: 100%;
    }
}

.btn-update-bg {
    padding: 20px 40px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
    border-radius: 10px;
    cursor: pointer;
}

.loading-spin__container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 30px;
}

.loading-spin__img {
    width: 50%;
    height: 35%;
    background-image: url('/LOADING_LOOP.gif');
    background-repeat: no-repeat;
    background-size: contain;
}
.loading-model-3D{
    background: rgba(53, 188, 230, 0.8);
    color: #FFF;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: initial;
    text-align: center;
    max-width: 100%;
<<<<<<< HEAD
}
=======
<<<<<<< HEAD
}
=======
}
>>>>>>> origin
>>>>>>> 3c83c2462043cc83fe6088eefcd360dfecdc6464
